In [1]:
import pandas as pd

sales = pd.read_csv('./data//sales_data.csv')

In [2]:
sales.head()

,order_date,time,aging,customer_id,gender,device_type,customer_login_type,product_category,product,sales,quantity,discount,profit,shipping_cost,order_priority,payment_method
0,2018-01-01,10:11:40,5.0,29317,Male,Web,Member,Auto & Accessories,Car Media Players,140.0,4.0,0.3,43.2,4.3,Medium,e_wallet
1,2018-01-01,22:30:44,7.0,42270,Male,Web,Member,Auto & Accessories,Car Pillow & Neck Rest,231.0,5.0,0.1,139.5,13.9,High,money_order
2,2018-01-01,21:55:31,10.0,14563,Male,Web,Member,Auto & Accessories,Car Speakers,211.0,5.0,0.1,120.5,12.0,High,credit_card
3,2018-01-01,13:57:15,9.0,58601,Male,Web,Member,Auto & Accessories,Tyre,250.0,4.0,0.2,150.0,15.0,Critical,credit_card
4,2018-01-01,15:17:41,2.0,48342,Male,Web,Member,Auto & Accessories,Tyre,250.0,1.0,0.1,165.0,16.5,High,credit_card

In [4]:
sales_numeric = sales[['sales', 'quantity', 'discount', 'profit', 'shipping_cost']]

sales_numeric

       sales  quantity  discount  profit  shipping_cost
0      140.0       4.0       0.3    43.2            4.3
1      231.0       5.0       0.1   139.5           13.9
2      211.0       5.0       0.1   120.5           12.0
3      250.0       4.0       0.2   150.0           15.0
4      250.0       1.0       0.1   165.0           16.5
...      ...       ...       ...     ...            ...
51285   67.0       1.0       0.4    33.5            3.4
51286   34.0       5.0       0.3     6.8            0.7
51287   70.0       1.0       0.2    35.0            3.5
51288  133.0       1.0       0.3    49.0            4.9
51289  216.0       5.0       0.3   103.6           10.4

[51290 rows x 5 columns]

In [8]:
sales_categorical = sales.loc[:99, ['customer_id', 'gender', 'product_category', 'product', 'payment_method']]

sales_categorical

,customer_id,gender,product_category,product,payment_method
0,29317,Male,Auto & Accessories,Car Media Players,e_wallet
1,42270,Male,Auto & Accessories,Car Pillow & Neck Rest,money_order
2,14563,Male,Auto & Accessories,Car Speakers,credit_card
3,58601,Male,Auto & Accessories,Tyre,credit_card
4,48342,Male,Auto & Accessories,Tyre,credit_card
...,...,...,...,...,...
95,12500,Female,Auto & Accessories,Car & Bike Care,credit_card
96,58971,Female,Auto & Accessories,Car Mat,money_order
97,47903,Female,Auto & Accessories,Car Body Covers,credit_card
98,31540,Female,Auto & Accessories,Car Speakers,credit_card
99,24479,Female,Auto & Accessories,Tyre,e_wallet